.navbar {
  height: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

span {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.social {
  display: none;
  gap: 20px;
}

.logo {
  border: black 1px solid;
  background-color: pink;
  height: 85%;
  aspect-ratio: 1/1;
  align-self: center;
  margin-left: 10%;
  display: none;
  align-items: center;
  justify-content: center;
}

.nav-mary {
  justify-content: space-around;
}

.login-btn-mary {
  align-self: center;
}

.login-btn-mary span {
  color: rgb(30 27 75);
}
.login-btn-mary span:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .social {
    display: flex;
  }

  .logo {
    display: flex;
  }
}
